@tailwind base;
@tailwind components;
@tailwind utilities;
/* body{
    background-color: rgb(135, 114, 155);
    background:radial-gradient(34.98% 34.98% at 50% 50%,#725bda 0,rgba(6,19,45,0) 100%);opacity:.5;
    background:linear-gradient(239.67deg,#0057ff -10.29%,#7ff805 197.14%);opacity:.6;
    mix-blend-mode:normal;-webkit-filter:blur(150px);filter:blur(150px);left:auto!important;top:15%!important;right:-20%;

    background:linear-gradient(89.96deg,hsla(0,0%,100%,.05) .03%,hsla(0,0%,100%,.008) 49.67%,hsla(0,0%,100%,.05) 99.96%)

} */

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}
body {
  /* background-image:url(../media/line.ad93247a.png);
     background:radial-gradient(34.98% 34.98% at 50% 50%,#725bda 0,rgba(6,19,45,0) 100%); */
  /* background:#070a29; */
  background-color: #fcfdfd;
}
nav {
  background-color: #ffffff;
  min-width: 100%;
}

/* -wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: ; */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}
